.scranimate {
  transition: all 1s ease-out;
}

/* Animate in from left to right */
.scranimate.scranimate-right {
  transform: translateX(-2rem);
  opacity: 0;
}
.scranimate.scranimate-right.is-visible {
  transform: translateX(0);
  opacity: 1;
}

/* Animate in from right to left */
.scranimate.scranimate-left {
  transform: translateX(2rem);
  opacity: 0;
}
.scranimate.scranimate-left.is-visible {
  transform: translateX(0);
  opacity: 1;
}

/* Animate in from top down */
.scranimate.scranimate-down {
  transform: translateY(-2rem);
  opacity: 0;
}
.scranimate.scranimate-down.is-visible {
  transform: translateY(0);
  opacity: 1;
}

/* Animate in from bottom up */
.scranimate.scranimate-up {
  transform: translateY(2rem);
  opacity: 0;
}
.scranimate.scranimate-up.is-visible {
  transform: translateY(0);
  opacity: 1;
}

